.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  margin: 0;
}

html {
  background-color: rgb(100, 100, 100);
  color: black;
}

.content {
  margin-left: 25%;
  margin-right: 25%;
  align-self: center;
  background-color: #ffffff;
  border-radius: 25px;
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  overflow: hidden;
}

.content h1 {
  text-align: center;
}

.textDiv {
  overflow: hidden;
  width: 100%;
}

.nav {
  background-color: #333;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 0 1rem;
  align-items: stretch;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
  text-align: center;
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  padding: .25rem;
  align-items: center;
}

.nav li:hover {
  background-color: #777;
}

.nav li.active {
  background-color: #555;
}

.site-title {
  font-size: 2rem;
  display: block;
}

.projectsbody {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  column-gap: 1%;
  row-gap: 1%;
  margin-top: 1%;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Play with min-value */
  text-align: center;
}

.projectcomponent {
  max-width: 100%;
  background-color: #c2c2c22e;
  border: 1px solid black;
  border-radius: 15px;
}

.projectImg {
  aspect-ratio: 1;
}

.link-spanner{
  position:absolute; 
  width:100%;
  height:100%;
  top:0;
  left: 0;
  z-index: 1;

  /* edit: fixes overlap error in IE7/8, 
  make sure you have an empty gif 
  background-image: url('empty.gif');*/
}

.projectlink {
  color: #000000;
  text-decoration: none;
} 

a {
  display: block;
}

.markdown {
  white-space: pre-wrap;
  width: 100%;
  background-color: skyblue;
  word-break: break-all;
  white-space: normal;
}

.markdownDiv {
  white-space: pre-wrap;
  width: 100%;
  word-break: break-word;
  white-space: normal;
  text-align: left;
}

.textLink {
  display: inline;
}

.textImg {
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.textimage-img {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 15px;
}

.textimage-div {
  max-width: 95%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  font-size: smaller;
  text-align: center;
  padding: 10px;
}

.textvideo-vid {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 15px;
}

.textvideo-div {
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  font-size: smaller;
  text-align: center;
  padding: 10px;
}

.codeBlock {
  font-size: small;
  background-color: #333;
  max-width: 95%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
}